# Cosas a limpiar
- **Visit Date** -> cambiar a tipo fecha
- **Conversion** -> cambiar a str ?
- **Product Category** -> cambiar a minus. Cambiar FASHHION a FASHION
- **Product Name** -> cambiar ' ' por '_'
- **Product Id** -> cambiar a num??
- **Price** -> tiene 40 nulos(2%); cambiar ',' por '.' y cambiar a tipo float
- **Discount** -> tiene 40 nulos(2%); cambiar ',' por '.' y cambiar a tipo float
- **Total value** -> cambiar ',' por '.' y cambiar a tipo float
- **Payment Method** -> tiene 1753 nulos (87.65%). cambiar ' ' por '_'
- **Shipping Method** -> tiene 1753 nulos (87.65%). cambiar ' ' por '_'
- **Customer Age** -> tiene 40 nulos (2%)
- **Device** -> cambiar a minus
- **Cupon Used** -> tiene 1753 nulos (87.65%)
- **Browser** -> cambiar las categorias porque están mal escritas
- **Referral Source** -> cambiar a minus

In [77]:
# Tratamiento de datos
import pandas as pd
pd.set_option("display.max_columns", None)

# Exploración de archivos
import sys
sys.path.append('../') # necesito esto para la siguiente línea de código; para que busque src en una carpeta anterior

# Funciones personalizadas
from src import sp_limpieza as sl # Este paso lo he realizado el último, cuando ya he metido todas las funciones en sp_limpieza. Por eso no se ve aplicado a continuación. Si quisiese llamarlo para aplicarlo sería sp.minus por ej.

In [78]:
df_raw = pd.read_csv("../data/data_raw.csv") # lo llamo raw porque voy a hacer una copia y mantener este como el original
df_raw.sample(5)

,User Id,Group,Visit Date,Conversion,Product Category,Product Id,Product Name,Quantity,Price,Discount,Total Value,Payment Method,Shipping Method,Region,Customer Age,Customer Gender,Device,Session Duration,Coupon Used,Browser,Referral Source
1020,1021,B,2022-01-16,0,SPORTS,P1574,Tennis Racket,0,"41,14","0,29","0,0",NaN,NaN,Central,21.0,M,Mobile,24,NaN,Ottttther,Email
1466,1467,B,2022-01-29,0,TOYS,P1433,Puzzle,0,"62,69","0,08","0,0",NaN,NaN,South,21.0,M,TABLET,25,NaN,Chrooome,Organic
1035,1036,B,2022-02-28,0,HOME,P1402,Table,0,"470,32","0,02","0,0",NaN,NaN,North,42.0,F,Desktop,2,NaN,Firefoxxxxxx,PAID
849,850,B,2022-03-23,0,SPORTS,P1245,Football,0,"156,24","0,26","0,0",NaN,NaN,East,19.0,F,Desktop,6,NaN,Eddddge,Email
1349,1350,A,2022-03-14,0,SPORTS,P1733,Tennis Racket,0,"180,13","0,23","0,0",NaN,NaN,North,25.0,M,TABLET,3,NaN,Eddddge,Social

## Copias

In [79]:
df = df_raw.copy()
df_f = df_raw.copy()

### Cambios nombres columnas

In [80]:
df.columns = df.columns.str.replace(" ", "_").str.lower() # str porque me interesan los nombres y para poder usar los métodos de strings como lower

In [81]:
df.columns

Index(['user_id', 'group', 'visit_date', 'conversion', 'product_category',
       'product_id', 'product_name', 'quantity', 'price', 'discount',
       'total_value', 'payment_method', 'shipping_method', 'region',
       'customer_age', 'customer_gender', 'device', 'session_duration',
       'coupon_used', 'browser', 'referral_source'],
      dtype='object')

### visit_date a fecha

In [82]:
df['visit_date'] = pd.to_datetime(df['visit_date'], format = '%Y-%m-%d')

### crear conversion_str

In [83]:
df['conversion_str'] = df['conversion'].apply(lambda x : 'yes' if x == 1 else 'no' )

### cambiar product_category a minus y fashhion

In [84]:
df['product_category'] = df['product_category'].str.lower()

In [85]:
df['product_category'] = df['product_category'].str.replace('fashhion', 'fashion')

In [86]:
df['product_category'].unique()

array(['books', 'beauty', 'fashion', 'sports', 'toys', 'electronics',
       'home'], dtype=object)

### product_id a num

In [87]:
df['product_id'] = df['product_id'].str.replace('P','')
df['product_id'] = df['product_id'].astype('Int64')

### Pasar todo a minúscula

In [88]:
def minus(df, col):
  df[col] = df[col].str.lower()

### product_name cambiar " " por "_"

In [89]:
df['product_name'] = df['product_name'].str.replace(" ","_")

In [90]:
minus(df, 'product_name')

### price. Cambiar comas por puntos y tipo float

In [91]:
def comas(df, col):
  df[col] = df[col].str.replace(",",".")
  df[col] = df[col].astype('float')

In [92]:
comas(df, 'price')

In [93]:
comas(df, 'discount')
comas(df, 'total_value')

### payment_method cambiar " " por "_"

In [94]:
def espacios (df, col):
  df[col] = df[col].str.replace(" ","_")

In [95]:
espacios(df, 'payment_method')
espacios(df, 'shipping_method')
minus(df, 'payment_method')
minus(df, 'shipping_method')

### minus de device, referral_source y browser

In [96]:
minus(df, 'device')
minus(df, 'referral_source')
minus(df, 'browser')

### map de browser

In [97]:
df['browser'].unique()

array(['safaaaaari', 'ottttther', 'firefoxxxxxx', 'eddddge', 'chrooome'],
      dtype=object)

In [98]:
dicc_map ={'safaaaaari' : 'safari',
            'ottttther' : 'other', 
            'firefoxxxxxx': 'firefox', 
            'eddddge': 'edge', 
            'chrooome': 'chrome'}

In [99]:
df['browser'] = df['browser'].map(dicc_map)

In [100]:
sl.minus(df) # aquí es el únic punto donde aplico sl y es lo último que he hecho

In [112]:
df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,total_value,payment_method,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str
1925,1926,a,2022-02-07,0,fashion,1992,sneakers,0,60.70,0.19,0.0,NaN,NaN,west,64.0,m,mobile,8,NaN,chrome,paid,no
759,760,b,2022-01-13,0,toys,1892,board_game,0,51.61,0.21,0.0,NaN,NaN,east,25.0,f,desktop,5,NaN,other,social,no
590,591,a,2022-01-31,0,fashion,1975,dress,0,61.11,0.29,0.0,NaN,NaN,west,NaN,m,desktop,9,NaN,safari,paid,no
1386,1387,b,2022-02-18,0,fashion,1567,jeans,0,173.85,0.23,0.0,NaN,NaN,south,26.0,m,mobile,6,NaN,other,email,no
1052,1053,b,2022-02-19,0,books,1016,mystery,0,18.20,0.17,0.0,NaN,NaN,west,19.0,m,mobile,20,NaN,chrome,social,no

In [113]:
df.to_csv('../data/data_limpios.csv', index=False)

## Aplicar funciones en todo el conjunto con df_f

In [102]:
df_f.sample(3)

,User Id,Group,Visit Date,Conversion,Product Category,Product Id,Product Name,Quantity,Price,Discount,Total Value,Payment Method,Shipping Method,Region,Customer Age,Customer Gender,Device,Session Duration,Coupon Used,Browser,Referral Source
918,919,B,2022-01-21,0,SPORTS,P1652,Gym Bag,0,"117,94","0,02","0,0",NaN,NaN,West,49.0,M,Desktop,5,NaN,Eddddge,PAID
1634,1635,B,2022-02-05,0,BOOKS,P1125,Science Fiction,0,"19,99","0,18","0,0",NaN,NaN,East,46.0,F,TABLET,6,NaN,Eddddge,Email
952,953,A,2022-01-07,0,HOME,P1319,Sofa,0,"116,06","0,12","0,0",NaN,NaN,South,52.0,F,Desktop,24,NaN,Ottttther,Social

In [103]:
def minus(df):
  for col in df.select_dtypes(include='O').columns:
    df[col]=df[col].str.lower()

In [104]:
minus(df_f)

In [105]:
def espacio(df):
  for col in df.select_dtypes(include='O').columns:
    df[col] = df[col].str.replace(" ","_")

In [106]:
espacio(df_f)

In [107]:
def coma_float(df):
  for col in df.select_dtypes(include='O').columns:
    df[col]=df[col].str.replace(",",".")
    try:
      df[col]=df[col].astype('float')
    except:
      pass

In [108]:
coma_float(df_f)

In [109]:
df_f.sample(5)

,User Id,Group,Visit Date,Conversion,Product Category,Product Id,Product Name,Quantity,Price,Discount,Total Value,Payment Method,Shipping Method,Region,Customer Age,Customer Gender,Device,Session Duration,Coupon Used,Browser,Referral Source
544,545,b,2022-02-01,1,sports,p1519,tennis_racket,3,236.71,0.09,646.22,paypal,standard,central,20.0,f,desktop,22,yes,eddddge,organic
1339,1340,a,2022-01-15,0,toys,p1535,board_game,0,62.65,0.04,0.00,NaN,NaN,west,23.0,m,tablet,30,NaN,safaaaaari,paid
1677,1678,a,2022-02-25,0,sports,p1978,running_shoes,0,68.92,NaN,0.00,NaN,NaN,south,23.0,m,desktop,15,NaN,ottttther,email
889,890,a,2022-02-18,0,home,p1531,lamp,0,280.08,0.11,0.00,NaN,NaN,south,66.0,f,desktop,14,NaN,firefoxxxxxx,email
1533,1534,a,2022-02-20,0,toys,p1111,action_figure,0,82.99,0.29,0.00,NaN,NaN,north,60.0,m,desktop,13,NaN,chrooome,social

In [110]:
df_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   User Id           2000 non-null   int64
 1   Group             2000 non-null   object
 2   Visit Date        2000 non-null   object
 3   Conversion        2000 non-null   int64
 4   Product Category  2000 non-null   object
 5   Product Id        2000 non-null   object
 6   Product Name      2000 non-null   object
 7   Quantity          2000 non-null   int64
 8   Price             1960 non-null   float64
 9   Discount          1960 non-null   float64
 10  Total Value       2000 non-null   float64
 11  Payment Method    247 non-null    object
 12  Shipping Method   247 non-null    object
 13  Region            2000 non-null   object
 14  Customer Age      1960 non-null   float64
 15  Customer Gender   2000 non-null   object
 16  Device            2000 non-null   object
 17  Session Duration  2000 non-null   int64
 18  Coupon Used       247 non-null    object
 19  Browser           2000 non-null   object
 20  Referral Source   2000 non-null   object
dtypes: float64(4), int64(4), object(13)
memory usage: 328.3+ KB